<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Add Course</title>
</head>

<body>
	<h1>Add Course</h1>
	<div>
	<form th:object="${course}" th:action="@{/save}" action="#" method="post">
		<label for="name">Name</label>
		<input type="text" id="name" th:field="*{name}" />
		<label for="code">Code</label>
		<input type="text" id="code" th:field="*{code}" />
		<label for="credits">Credits</label>
		<input type="text" id="credits" th:field="*{credits}" />
		<label for="grade">Year</label>
		<input type="text" id="grade" th:field="*{grade}" />
		
			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="catlist">Category</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    		
    	<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" value="Save"></input>	
	</form>
	<h1>View Courses</h1>
	<a href="/programming" class="btn btn-success">View Programming Courses</a>
	<a href="/ict" class="btn btn-success">View ICT and Business Courses</a>
	</div>
	<div><a href="/averageGrade" class="btn btn-success">View Average Grade</a></div>
	<span th:if="${averageGrade}" th:text="'Average Grade: ' + ${averageGrade}"></span>
</body>

</html>