<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>View Key Competency Courses</title>
</head>

<body>
	<h1>Key Competency Courses</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Credits</th>
			<th>Grade</th>
			<th>Category</th>
			<th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>
		<tr th:each="course : ${courses}">
			</td>
			<td th:text="${course.name}"></td>
			<td th:text="${course.code}"></td>
			<td th:text="${course.credits}"></td>
			<td th:text="${course.grade}"></td>
			<td th:text="${course.category.name}"></td> 	
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${course.id})}" class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${course.id})}" class="btn btn-primary">Edit</a></td>
		</tr>
	</table>
	<span th:if="${totalCredits}" th:text="'Total Credits in key competencies: ' + ${totalCredits}"></span><br>
	</div>
	<a href="/courselist" class="btn btn-primary">Go Back to all courses</a>
</body>

</html>