<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	   <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>View Programming Courses</title>
</head>

<body>
	<h1>Programming Courses</h1>
	<div>
		<input type="hidden" id="id" th:field="*{id}" />
		<label for="name">Name</label>
		<span name="name" th:text="${course.id}"></span>
		<label for="code">Code</label>
		<span name="code" th:text="${course.code"></span>
		<label for="credits">Credits</label>
		<span name="credits" th:text="${course.credits}"></span>
		<label for="grade">Grade</label>
		<span name="grade" th:text="${course.grade}"></span>
		
 
	</div>
	<a href="/save" class="btn btn-primary">Go Back to Add Course</a>
</body>

</html>